[Desktop Entry]
Name=%{APPNAME}
Comment=Python runner
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=planetkde
X-KDE-PluginInfo-Author=Some Developer
X-KDE-PluginInfo-Email=kde@example.com
X-KDE-PluginInfo-Name=%{APPNAMELC}
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=net.%{APPNAMELC}2
X-Plasma-DBusRunner-Path=/%{APPNAMELC}