[General]
# See https://techbase.kde.org/KDevelop5/File_template_specification for documentation
Name=%{APPNAME}
Comment=
Category=
Type=Test
Language=
Files=MYFILE
OptionsFile=options.kcfg

[MYFILE]
Name=
File=
OutputFile={{ name }}.EXT