[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_%{APPNAMELC}
X-KDE-ParentComponents=%{APPNAMELC}
X-KDE-PluginKeyword=kcm_krunner_%{APPNAMELC}

Name=%{APPNAMELC}
